{% extends 'base.html' %}

    {% block content %}
    <section id="participantes" class="row container scrollspy">
        <div id="user" class=" col sm12 m12 l12">
            <h2 class="light">Participantes</h2>
            {% for user in users %}
                {% include 'users/'+user %}
            {% endfor %}
        </div>
    </section>
    {% endblock %}
