<!-- Sobre -->
<section>
<div id="sobre" class="section blue-grey darken-4 scrollspy">
  <div class="row">
    <div class="container">
      <h2 class="white-text">Sobre</h2>
      <p class="grey-text">
        Este minicurso tem como objetivo explicar o que
        é Sistema de Controle de Versão (Version Control System ou VCS),
        como funciona o controle de versão ou versionamento de arquivos e
        sua importância no desenvolvimento de software em equipe. Explicar
        as vantagens e desvantagens de algumas dos VCS's mais utilizadas
        atualmente. Também vamos aprender alguns comandos básicos do Git,
        que é o VCS mais utilizado atualmente, para começarmos a versionar
        os nossos projetos pessoais ou profissionais e como colocar o nosso
        projeto em uma plataforma de hospedagem de código com controle de
        versionamento como o GitLab.
      </p>
    </div>
  </div>
</div>
</section>

<section id="contato">
    <div class="container">
      <div class="row">
        <h2 class="center">Contato</h2>
        <p class="center substitulo-contato">
          Gostou do minicurso ? Ou tem
          interesse em levar para sua faculdade, empresa ou escola ? Me chame,
          terei maior prazer em ir até onde você está.
        </p>
        <div class="col l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator responsive" src="static/img/allythy.jpeg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">
                Allythy ❤️<i class="material-icons right">more_vert</i>
              </span>
              <ul>
                <li><a href="https://t.me/allythy" target="_blank">
                    <i class="fab fa-telegram fa-2x"></i></a></li>
                <li><a href="https://github.com/allythy" target="_blank">
                    <i class="fab fa-github fa-2x"></i></a></li>
                <li><a href="https://allythy.github.io/" target="_blank">
                    <i class="fas fa-laptop fa-2x"></i></a></li>
              </ul>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Quem sou:
                  <i class="material-icons right">close</i></span>
              <p>Entusiasta do movimento de Software Livre e estudante de
                programação. Contribuidor do Projeto Debian. Coordenador
                da PotiLivre (Comunidade Potiguar de Software Livre).
                Fundador e coordenador do PHP-RN, coordenador do GruPy-RN.
                Ex-colaborador do SempreUpdate, no qual foi autor por um
                período de dois anos.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
